GESTION_DB_USER="sa"
GESTION_DB_PASS="tu_password"
GESTION_DB_DATABASE="tu_base_de_datos"
GESTION_DB_SERVER="localhost"
GESTION_DB_PORT="1433"

API_DB_USER="user"
API_DB_PASS="pass"
API_DB_DATABASE="database"
API_DB_SERVER="host"
API_DB_PORT="1433"

# Configuracion app
APP_PORT=8080
ENABLE_PUBLIC_METHODS=no
